<html>
 
    <body>
        <h3>Dear ${user.firstName}, 
        <br/>Thank you for registering with ${companyName}.</h3>
        <span> <a href= "http://google.co.in" target="_blank">Click here to verify your account </a> </span>
        
        <h3>Regards, <br/>
        Team ${companyName}</h3>
    </body>
</html>